<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.mybatis.mapper.PostMapper">
    <insert id="insert" parameterType="PostVO">
        INSERT INTO TBL_POST(ID, POST_TITLE, POST_CONTENT, POST_STATUS, MEMBER_ID)
        VALUES(SEQ_POST.NEXTVAL, #{postTitle}, #{postContent}, #{postStatus}, #{memberId})
    </insert>
</mapper>